@media screen and (min-width: 400px) {

}

@media screen and (min-width: 768px) {
    .cabecalho {
        justify-content: space-between;
    }

    .cabecalho_logo {
        margin-left: 20px;
    }

    .cabecalho_menu {
        display: none;
    }

    .cabecalho_nav {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .cabecalho {
        justify-content: space-around;
    }

    .cabecalho_menu {
        width: 10%;
    }
    
    .cabecalho_nav {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
   
}

.cabecalho {
    height: var(--cabecalho-height);
    width: 100%;

    display: flex;
    align-items: center;

    background-color: white;

    border-bottom: 5px solid black;
}

.cabecalho_nav {
    align-items: center;
    justify-content: space-between;
}

.cabecalho_nav-item {
    font-size: var(--cabecalho_font-size);
    font-weight: var(--font_title-weight);
    color: var(--cabecalho_font-color);

    text-transform: uppercase;

    border-right: 2px solid black;
    padding: 0 15px;

    height: 100%;

    cursor: pointer;
}

.cabecalho_nav-item:hover{
    text-decoration: underline;
}

.cabecalho_nav-item:last-child {
    border-right: none;
}